<div class="col-12">
	<div class="breadcrumbs margin-bottom-7">
		<ol>
			<li class="home-icon"><a href="/">Vehicles Helpdesk</a></li>
			<li>Accounts</li>
		</ol>
	</div>

	<div class="page-context margin-bottom-7">
		<h1 class="headin-large margin-bottom-2 margin-top-0">Accounts</h1>
		<div class="actions margin-top-0">
			<!--				<button class="btn btn-secondary"><span class="retro-registration-btn"></span>Retrospective registrations</button>-->
			<button class="btn btn-secondary" id="create-account">
				<span class="add-btn"></span>Create an account</button>
		</div>
	</div>
</div><!--  end .column  -->

