<div class="col-12">
	<div class="breadcrumbs margin-bottom-3">
		<ol>
			<li><a href="/">AFRL Home</a></li>
			<li><a href="/account-lists/manufacturers-list.html">Accounts</a></li>
			<li class="manufacturer-name"></li>
		</ol>
	</div>
</div> <!-- end .col-12 -->

<div class="alert success margin-bottom-1 hide" id="manufacturer-success">
	Successfully created a manufacturer
</div>


<div class="col-5">
	<div class="page-context margin-top-3 margin-bottom-7">
		<div class="">
			<span class="manufacturer-icon"></span>
			<span class="account-info">
				<div>
					<span class="account-type" id="manufacturer-account-type"></span>
					<span class="dot"></span>
					<span class="account-code-header">(<span class="account-code"></span>)</span>
				</div>
				
				<h1 class="manufacturer-name headin-large margin-top-0"></h1>
			</span>
		</div>
	</div>
</div><!-- end .col-5 -->

<div class="col-7">
	<div class="page-context margin-bottom-3">	
		<div class="actions">
			<div>
<!--
				<button class="btn btn-secondary"><span class="retro-registration-btn"></span>Add retrospective registrations</button>
				<button class="btn btn-secondary"><span class="add-user-btn"></span>Add a user</button>
-->
				<button class="btn btn-secondary" id="create-retailer" href="/account-creation/retailer-creation"><span class="add-retailer-btn"></span>Add a retailer</button>
			</div>

		</div>
	</div> <!-- end page-content -->
</div> <!-- end .col-7 -->

