<div class="col-12">
	<div class="breadcrumbs margin-bottom-6">
		<ol>
			<li><a href="/">AFRL Home</a></li>
			<li><a href="/manufacturers-list.html">Manufacturers</a></li>
			<li>Honda</li>
		</ol>
	</div>
</div> <!-- end .col-12 -->

<div class="col-5">
	<div class="page-context margin-bottom-7">
		<div class="">
			<span class="manufacturer-icon"></span>
			<span class="account-info">
				<div>
					<span class="account-type">Manufacturer</span>
					<span class="dot"></span>
					<span class="account-code">(12345)</span>
				</div>
				
				<h1 class="account-name headin-large margin-top-0">Manufacturer Name</h1>
			</span>
		</div>
	</div>
</div><!-- end .col-5 -->

<div class="col-7">
	<div class="page-context margin-bottom-3">	
		<div class="actions">
			<div>
				<button class="btn btn-secondary"><span class="retro-registration-btn"></span>Add retrospective registrations</button>
				<button class="btn btn-secondary"><span class="add-user-btn"></span>Add a user</button>
				<button class="btn btn-secondary"><span class="add-retailer-btn"></span>Add a retailer</button>
			</div>

		</div>
	</div> <!-- end page-content -->
</div> <!-- end .col-7 -->

