<div class="col-12">
	<div class="breadcrumbs margin-bottom-6">
		<ol>
			<li><a href="/">AFRL Home</a></li>
			<li><a href="/manufacturers-list.html">Manufacturers</a></li>
			<li><a href="/manufacturers/users.html"><span class="account-name"></span></a></li>
			<!-- ^ Need to be dynamic, know where you came from  -->
			<li class="">User name here</li>
		</ol>
	</div>
</div> <!-- end .col-12 -->

<div class="col-5">
	<div class="page-context margin-bottom-7">
		<div class="">
			<span class="user-icon"></span>
			<span class="account-info">
				<div>
					<span class="account-type"></span>
					<span class="dot"></span>
					<span class="account-code-header">(<span class="account-code"></span>)</span>
				</div>

				<h1 class="user-name headin-large margin-top-0"></h1>
			</span>
		</div>
	</div>
</div><!-- end .col-5 -->

<div class="col-7">
	<div class="page-context margin-bottom-3">	

	</div> <!-- end page-content -->
</div> <!-- end .col-7 -->

