{% block header_application_title %}
<a href="/index" title="Service home">Vehicles Helpdesk</a>
{% endblock %}
{% extends 'layout-fixed.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block header_bar %}
{% endblock %}

{% block content %}

<div class="row"> 
	<div class="col-7 margin-top-3">

		{% include 'includes/buttons/back.html' %} 

		<form class="margin-top-5 margin-bottom-0">
			<div id="add-manufacturers" class="form-group">
				
				<div class="heading-extra-small section-label margin-bottom-0 margin-top-0">Account Creation</div>
				<h1 class="heading-large margin-top-0 margin-bottom-2">Create a new retailer<span id="creation-account-type"></span></h1>
				
				<h2 class="heading-small border-bottom-grey margin-top-1">Associate with a manufacturer</h2>

				<div class="margin-bottom-3 relative" id="contact-name">
					<label for="contact-name-input">
						<div class="label-title medium-font">Manufacturer code</div>
						<div class="label-error">Enter a code</div>
						<input type="text" class="form-control form-control-1-4 margin-bottom-2 manufacturer-code" position='0'/>
					</label>
				</div>
                <div class="margin-bottom-3" id="contact-name">
					<label for="contact-name-input">
						<div class="label-title medium-font">MVRIS/MCRIS</div>
						<div class="label-error">Enter a code</div>
                    </label>
                    <div class="input-group input-group-mvris-mcris">
                        <input type="text" class="form-control margin-bottom-2 mvris"/>
                        <span class="input-group-btn">
                            <button class="add-mvris-mcris btn btn-primary" type="button" position='0'>+ Add</button>
                        </span>
                    </div>
                    <tag-holder class="block margin-top-1"></tag-holder>
				</div>
			
			</div>
            
            <a href="#" id="add-another" class="block margin-bottom-4">+ add another manufacturer</a>
					
			{% include 'includes/buttons/continue.html' %} 
			
		</form>

	</div> <!--  end .column  -->
</div> <!--  end .row  -->


<script type="text/javascript">
    
    var mvrisArray = [];
        
    // Add tag when clicking 'add' button against mvris/mcris input. We target the button clicked, find the parent, use that to find the previous input and then get the value of that input. If empty we error. If valid, we create a span for the input mvris/mcris. By using the button clicked, we find the closest input-group, traverse the elements until we find the tag-holder and the prepend that with the span we created.  
    $('.add-mvris-mcris').click(function(){
        var manInput = $(this).closest('.manufacturer-code').val();
        var input = $(this).parent().prev('.mvris').val();
        console.log(input);
        if ((input == '') || (manInput == '')) {
            alert ("field can't be blank");
        } else {
            var tag = "<span class='interactive-tag-blue' onclick='removefunction(this, this.innerText)'>" + input + "</span>";
            $(this).closest('.input-group').next('tag-holder').prepend(tag);
            $(this).parent().prev().val("");
            
        };
    });
    
    // This removes the element clicked on from the DOM and array
    function removefunction(element, content) {
        element.remove();
    };

    // This prevents the link from firing, finds the add-manufacturers container and loads the inlclude to the end inside a new container div (so we can more easily remove it if needed).
    $('#add-another').click(function(e){
        e.preventDefault();
        $('#add-manufacturers').append($('<div class="man-mvris-block"></div>').load('../includes/add-manufacturer'));
    });

    // Using the div container created above, we target the link clicked, prevent it from firing, find the div container and the remove it from the DOM.
    $('.remove-manufacturer').click(function(e){
        e.preventDefault();        
        $(this).closest('.man-mvris-block').remove();
    });
          

    // What to do when we click continue
//    $('#continue').click(function(){;
//    
//        var map = [];
//        $(".manufacturer-code").each(function() {
//            map.push($(this).val());
//        });
//        
//        if (!member.retailer) { member.retailer = {} };        
//        if (!member.retailer.manufacturers) { member.retailer.manufacturers = [] };
//        
//        member.retailer.manufacturers = map;
//        console.log (member.retailer.manufacturers);
//        go('/account-creation/contact-creation');
//                                   
//    });
    
</script>
{% endblock %}


