{% block header_application_title %}
<a href="/index" title="Service home">Vehicles Helpdesk</a>
{% endblock %}
{% extends 'layout-fixed.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block header_bar %}
{% endblock %}

{% block content %}

<div class="row"> 
	<div class="col-6 margin-top-3">

		{% include 'includes/buttons/back.html' %} 

		<form class="margin-top-5 margin-bottom-0">
			<div class="form-group">
				
				<div class="heading-extra-small section-label margin-bottom-0 margin-top-0">Account Creation</div>
				<h1 class="heading-large margin-top-0 margin-bottom-2">Create a new <span id="creation-account-type" style="text-transform: lowercase;"></span></h1>
				
				<h2 class="heading-small border-bottom-grey margin-top-1">Contact details</h2>

				<div class="margin-bottom-3" id="contact-name">
					<label for="contact-name-input">
						<div class="label-title medium-font">Name</div>
						<div class="label-error">Provide a name</div>
						<input type="text" id="contact-name-input" class="form-control margin-bottom-2" autofocus/>
					</label>
				</div>
				
				<div class="margin-bottom-3" id="contact-email">
					<label for="contact-email-input">
						<div class="label-title medium-font">Email</div>
						<div class="label-error">Provide an email</div>
						<input type="text" id="contact-email-input" class="form-control margin-bottom-2"/>
					</label>
				</div>
				
				<div class="margin-bottom-3" id="contact-phone">
					<label for="contact-phone-input">
						<div class="label-title medium-font">Telephone number</div>
						<div class="label-error">Provide a telephone number</div>
						<input type="text" id="contact-phone-input" class="form-control margin-bottom-2"/>
					</label>
				</div>
			
			</div>
					
			{% include 'includes/buttons/continue.html' %} 
			
		</form>

	</div> <!--  end .column  -->
</div> <!--  end .row  -->


<script type="text/javascript">
    
    var list = '';
    var array = member.retailer.manufacturers;
    for (i=0; i < array.length; i++) {
        if (i == 0) {
            list += 'manufacturer: ' + array[i].manufacturer + ', mvrismcris: ' + array[i].mvrismcris + ', ';
        } else {
            if (array[i].manufacturer == array[i-1].manufacturer) {
                list += '' + array[i].mvrismcris + ', ';
            } else {
                list += '; manufacturer: ' + array[i].manufacturer + ', mvrismcris: ' + array[i].mvrismcris + ', ';
            }
        };
    };
    alert(list);
        
    
	$(".btn").click(function(){
		validate();
	});
	
	function validate() {
        
        if (!member.records) { member.records = [] };
        if (member.retailer) {
            member.retailer.contact = {};
            member.retailer.contact.name = $('#contact-name-input').val();
            member.retailer.contact.emailAddress = $('#contact-email-input').val();
            member.retailer.contact.phoneNumber = $('#contact-phone-input').val();
            member.records.push(member.retailer);
        };
        
        if (member.manufacturer) {
            member.manufacturer.contact = {};
            member.manufacturer.contact.name = $('#contact-name-input').val();
            member.manufacturer.contact.emailAddress = $('#contact-email-input').val();
            member.manufacturer.contact.phoneNumber = $('#contact-phone-input').val();
            member.records.push(member.manufacturer);
        };
        
        var position = (member.records.length - 1);

        go('/retailer/details?recordtype=member&recordid=' + position + '&accountcreation=true');
    };




</script>
{% endblock %}


