{% block header_application_title %}
<a href="/index" title="Service home">RaV Helpdesk</a>
{% endblock %}
{% extends 'layout-fluid.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row">

	{% include 'includes/manufacturer-header.html' %} 

	<div class="col-12">
		<ul class="tabs">
<!--
			<li class="tab"><a href="/manufacturers/retailers.html">Retailers</a></li>
			<li class="tab"><a href="/manufacturers/users.html">Manufacturers staff</a></li>
			<li class="tab"><a href="/manufacturers/data/summary.html">Data</a></li>
-->
			<li class="tab active"><a href="/account-creation/manufacturer-details.html">Details</a></li>
		</ul>
	</div> <!-- end .col-12 -->
	
	<div class="col-8">
		
		<div class="tab-content margin-top-6">
			<div class="list">
				<div class="list-title-row">
					<div class="list-title">
						Individual Contact
					</div>
					<div class="list-change">
						<a href="#">Change</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Contact name</div>
					<div class="list-data">
<!--						<a href="#">-->
							<span class="contact-name"></span>
<!--						</a>-->
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Email</div>
					<div class="list-data">
						<a href="#">
							<span class="contact-email"></span>
						</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Telephone</div>
					<div class="list-data contact-phone"></div>
				</div>
			</div>
			
			<div class="list">
				<div class="list-title-row">
					<div class="list-title">
						Manufacturer details
					</div>
					<div class="list-change">
						<a href="#">Change</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Manufacturer Name</div>
					<div class="list-data manufacturer-name"></div>
				</div>
				<div class="list-row">
					<div class="list-property">Supplier code</div>
					<div class="list-data supplier-code"></div>
				</div>
				<div class="list-row">
					<div class="list-property">Address</div>
					<div class="list-data full-address">
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">System type</div>
					<div class="list-data system-type">
					</div>
				</div>
				<div class="list-row" id="importer-container">
					<div class="list-property">Importer</div>
					<div class="list-data importer-answer">
						Yes
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Date of account setup</div>
					<div class="list-data date-of-creation">
						
					</div>
				</div>
				
			</div>
			
			
			
			
<!--
			<div class="list">
				<div class="list-title-row">
					<div class="list-title">
						Account status
					</div>
					<div class="list-change">
						<a href="#">Change</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Status</div>
					<div class="list-data"><span class="active-marker" id="manufacturer-status"></span></div>
				</div>

			</div>
-->
		</div>
		
	</div> <!-- end .col-8 -->
	
</div> <!-- end .row -->

<script type="text/javascript" src="/public/javascripts/accounts.js"></script>

	{% endblock %}