{% block header_application_title %}
<a href="/index" title="Service home">Vehicles Helpdesk</a>
{% endblock %}
{% extends 'layout-fixed.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block header_bar %}
{% endblock %}

{% block content %}

<div class="row"> 
	<div class="col-6 margin-top-3">
		
		{% include 'includes/buttons/back.html' %} 
		
		<form>
			<div class="form-group margin-top-5" id="account-type">
				<div class="heading-extra-small section-label margin-bottom-0 margin-top-0">Account Creation</div>
				<legend class="heading-large border-bottom-grey margin-top-0">
					<h1 class="heading-large margin-top-0">Create a new retailer</h1>
				</legend>
				
				<div class="form-group">

					<div class="margin-bottom-3" id="retailer-name-container">
						<label for="retailer-name">
							<div class="label-title medium-font">Retailer name</div>
							<div class="label-error">Provide a retailer name</div>
							<input type="text" id="retailer-name" class="form-control margin-bottom-2" autofocus/>
						</label>
					</div>
					
					<div class="margin-bottom-3" id="retailer-code-container">
						<label for="retailer-code">
							<div class="label-title medium-font">Retailer code</div>
							<div class="label-error">Provide a retailer code</div>
							<input type="text" id="retailer-code" class="form-control margin-bottom-2"/>
						</label>
					</div>
					
				</div>

				<div class="form-group">	
					
					<div class="margin-bottom-3" id="address-container">
						<label for="address">
							<div class="label-title medium-font">Address</div>
							<div class="label-error">Provide an address</div>
							<input type="text" id="address-line-1" name="address" class="form-control"/>
							<input type="text" id="address-line-2" name="address" class="form-control"/>
							<input type="text" id="address-line-3" name="address" class="form-control"/>
						</label>
					</div>
					
					<div class="margin-bottom-3" id="city-container">
						<label for="city">
							<div class="label-title medium-font">City</div>
							<div class="label-error">Provide a city</div>
							<input type="text" id="city" class="form-control margin-bottom-2" />
						</label>
					</div>
					
					<div class="margin-bottom-3" id="postcode-container">
						<label for="postcode">
							<div class="label-title medium-font">Postcode</div>
							<div class="label-error">Provide a postcode</div>
							<input type="text" id="postcode" class="form-control form-control-1-2 margin-bottom-2" />
						</label>
					</div>
			
				</div>

				<div class="form-group">
					
					<div class="margin-bottom-3" id="companies-house-container">
						<label for="companies-house">
							<div class="label-title medium-font">Companies house number</div>
							<div class="label-error">Provide a companies house number</div>
							<input type="text" id="companies-house" class="form-control form-control-1-2 margin-bottom-2" />
						</label>
					</div>
					
					<div class="margin-bottom-3" id="vat-number-container">
						<label for="vat-number">
							<div class="label-title medium-font">VAT number</div>
							<div class="label-error">Provide a VAT number</div>
							<input type="text" id="vat-number" class="form-control form-control-1-2 margin-bottom-2" />
						</label>
					</div>
					
				</div>
			
                <div id="system-type" class="form-group inline">
                    <fieldset>
                        <legend class="medium-font">
                            What type of account do you want to create?
                            <span class="legend-error">Select an option</span>
                        </legend>

                        <div class="multiple-choice">
                            <input id="co-op-system" type="radio" name="system-type" value="co-op">
                            <label for="co-op-system" class="medium-font">Co-op</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="web-system" type="radio" name="system-type" value="web">
                            <label for="web-system" class="medium-font">Web</label>
                        </div>
                    </fieldset>
                </div>
            </div>
			{% include 'includes/buttons/continue.html' %} 
		</form>

	</div> <!--  end .column  -->
</div> <!--  end .row  -->

<script type="text/javascript">
    
    member.retailer = {};
    member.retailer.address = {};
        
    $('#continue').click(function(){
        
        member.retailer.recordType = 'retailer';
        member.retailer.name = $('#retailer-name').val();
        member.retailer.retailerCode = $('#retailer-code').val();
        member.retailer.address.line1 = $('#address-line-1').val();
        member.retailer.address.line2 = $('#address-line-2').val();
        member.retailer.address.line3 = $('#address-line-3').val() 
        member.retailer.address.city = $('#city').val();
        member.retailer.address.postCode = $('#postcode').val();
        member.retailer.companiesHouseID = $('#companies-house').val();
        member.retailer.VATnumber = $('#vat-number').val();
        member.retailer.systemType = $('input[name=system-type]:checked').val();
        
        go('/account-creation/add-manufacturers');
    
    });
	
</script>
{% endblock %}


