{% extends 'layout-fixed.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row">

	{% include 'includes/manufacturer-header.html' %} 

	<div class="col-12">
		<ul class="tabs">


<!--
<li class="tab"><a href="/manufacturers/users.html">Manufacturers staff</a></li>
<li class="tab"><a href="/manufacturers/data/summary.html">Data</a></li>
-->
			<li class="tab manufacturer-details-tab"><a href="/manufacturer/details.html">Details</a></li>
			<li class="tab active manufacturer-retailers-tab"><a href="/manufacturer/retailers.html">Retailers</a></li>
		</ul>
	</div> <!-- end .col-12 -->

	<div class="tab-content">

	
		<div class="row">
			<div class="col-12">
				<table>
					<thead class="tableHead tableHead-retailers">
						<th>Retailers (3)</th>
						<th>Retailer Code</th>
						<th>Address</th>
						<th>Contact</th>
					</thead>
					<tbody id="tableBody">
					</tbody>
				</table>

			</div><!--  end .column  -->
		</div><!--  end .row  -->
	</div><!--  end .row  -->

	<script type="text/javascript" src="/public/javascripts/accounts.js"></script>
	<script>

        var manufacturer = getManufacturer(recordid);
		var retailers = getManufacturerRetailers(manufacturer);
		var table = '';

		for (var i = 0; i < retailers.length; i++) {
			table += '<tr>';
			table += '<td class="bold"><a href="/retailer/details?recordtype=retailer&recordid=' + retailers[i].id + '">' + retailers[i].name + '</a></td>';
			table += '<td>' + retailers[i].retailerCode + '</td>';
			table += '<td><div class="truncate">' + retailers[i].address.line1 + ', ' + retailers[i].address.line2 + ', ' + retailers[i].address.postCode + '</div></td>';
			table += '<td><a href="">' + retailers[i].contact.name + '</a></td>';
			table += '</tr>';
		}

		$('#tableBody').html(table);
	
</script>
{% endblock %}