{% extends 'layout-fixed.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row"> 
	
	{% include 'includes/user-header.html' %} 
	
	<div class="col-9">
		<div class="list">
			<div class="list-title-row">
				<div class="list-title">
					Details
				</div>
				<div class="list-change">
					<a href="#">Change</a>
				</div>
			</div>
			<div class="list-row">
				<div class="list-property">Name</div>
				<div class="list-data user-name"></div>
			</div>
			<div class="list-row">
				<div class="list-property">Staff ID</div>
				<div class="list-data user-id"></div>
			</div>
			<div class="list-row">
				<div class="list-property">Telephone</div>
				<div class="list-data user-phone-number"></div>
			</div>
			<div class="list-row">
				<div class="list-property">Email</div>
				<div class="list-data">
					<a href="#">
						<span class="user-email"></span>
					</a>
				</div>
			</div>
			<div class="list-row">
				<div class="list-property">Privacy class</div>
				<div class="list-data user-class"></div>
			</div>
		</div>
		
		<div class="list">
			<div class="list-title-row">
				<div class="list-title">
					Account status
				</div>
				<div class="list-change">
					<a href="#">Change</a>
				</div>
			</div>
			<div class="list-row">
				<div class="list-property">Status</div>
				<div class="list-data"><span class="active-marker user-status"></span></div>
			</div>
			<div class="list-row">
				<div class="list-property">Password</div>
				<div class="list-data"><span class="active-marker password-status"></span></div>
			</div>
		</div>
		
		<div class="list">
			<div class="list-title-row">
				<div class="list-title">
					Security questions
				</div>
				<div class="list-change">
					<a href="#">Change</a>
				</div>
			</div>
			<div class="list-row">
				<div class="list-property"><span class="bold" style="margin-right:12px;">Q1 </span>What is your mothers maiden name?</div>
				<div class="list-data security-q1-answer"></div>
			</div>
			<div class="list-row">
				<div class="list-property"><span class="bold" style="margin-right:12px;">Q2 </span>What is your security passcode?</div>
				<div class="list-data security-q2-answer"></div>
			</div>
		</div>
		
		
	</div>
</div>
<script type="text/javascript" src="/public/javascripts/accounts.js"></script>
{% endblock %}