
{% block header_application_title %}
<a href="/index" title="Service home">RaV Helpdesk</a>
{% endblock %}
{% extends 'layout-fluid.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row">

	{% include 'includes/retailer-header.html' %} 

	<div class="col-12">
		<ul class="tabs">
			<ul class="tabs">
<!--
				<li class="tab"><a href="/retailer/users.html">Retailers staff</a></li>
				<li class="tab"><a href="/retailer/data/summary.html">Data</a></li>
-->
				<li class="tab active"><a href="/retailers/details.html">Details</a></li>
			</ul>
		</ul>
	</div> <!-- end .col-12 -->
	
	<div class="col-8">
		
		<div class="tab-content margin-top-6">
			<div class="list">
				<div class="list-title-row">
					<div class="list-title">
						Individual Contact
					</div>
					<div class="list-change">
						<a href="#">Change</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Contact name</div>
					<div class="list-data">
<!--						<a href="#">-->
							<span class="contact-name"></span>
<!--						</a>-->
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Email</div>
					<div class="list-data">
						<a href="#">
							<span class="contact-email"></span>
						</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Telephone</div>
					<div class="list-data contact-phone"></div>
				</div>

			</div>
			
			<div class="list">
				<div class="list-title-row">
					<div class="list-title">
						Retailer details
					</div>
					<div class="list-change">
						<a href="#">Change</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Retailer Name</div>
					<div class="list-data retailer-name"></div>
				</div>
				<div class="list-row">
					<div class="list-property">Retailer code</div>
					<div class="list-data dealer-code"></div>
				</div>
<!--
				<div class="list-row">
					<div class="list-property">MVRIS/MCRIS</div>
					<div class="list-data MVRIS-code"></div>
				</div>
-->
				<div class="list-row">
					<div class="list-property">Address</div>
					<div class="list-data full-address">
					</div>
				</div>

				<div class="list-row">
					<div class="list-property">Companies house number</div>
					<div class="list-data">21932102</div>
				</div>
				<div class="list-row">
					<div class="list-property">VAT number</div>
					<div class="list-data VAT-number"></div>
				</div>
				<div class="list-row">
					<div class="list-property">Date of account setup</div>
					<div class="list-data date-of-creation"></div>
				</div>
			</div>
			
<!--
			<div class="list">
				<div class="list-title-row">
					<div class="list-title">
						Account status
					</div>
					<div class="list-change">
						<a href="#">Change</a>
					</div>
				</div>
				<div class="list-row">
					<div class="list-property">Status</div>
					<div class="list-data"><span class="active-marker" id="manufacturer-status"></span></div>
				</div>

			</div>
-->
		</div>
		
		
	</div> <!-- end .col-12 -->
	<div class="col-4 padding-left-1">
		<aside class="bar panel margin-top-10">

			<div class="margin-top-0 heading-small">Manufacturers</div>
			<div class="heading-grey">MVRIS/MCRIS</div>

			<div class="mvris-list margin-top-2">
				<div class="mvris-list-item">
					<div class="mvris-number-aside">121929</div>
					<a class="mvris-manufacturer-side" href="#">Jaguar (BP)</a>
				</div>

				<div class="mvris-list-item margin-top-1">
					<div class="mvris-number-aside">999201</div>
					<a class="mvris-manufacturer-side" href="#">Honda (KL)</a>
				</div>	

				<div class="mvris-list-item margin-top-1">
					<div class="mvris-number-aside">121929</div>
					<a class="mvris-manufacturer-side" href="#">Suzuki (LQ)</a>
				</div> 
			</div>
		</aside>
	</div>

</div> <!-- end .row -->

<script type="text/javascript" src="/public/javascripts/accounts.js"></script>

	{% endblock %}