{% block header_application_title %}
<a href="/index" title="Service home">Vehicles Helpdesk</a>
{% endblock %}
{% extends 'layout-fixed.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row">

	{% include 'includes/retailer-header.html' %} 

	<div class="col-12">
		<ul class="tabs">
			<li class="tab active"><a href="/retailer/users.html">Retailers staff</a></li>
			<li class="tab"><a href="/retailer/data/summary.html">Data</a></li>
			<li class="tab"><a href="/retailer/details.html">Details</a></li>
		</ul>
	</div> <!-- end .col-12 -->

	<div class="tab-content">


		<div class="row">
			<div class="col-12">
				<table>
					<thead class="tableHead tableHead-users">
						<th>Retailer staff (6)</th>
						<th>ID</th>
						<th>Email address</th>
						<th>Telephone Number</th>
					</thead>
					<tbody id="tableBody">
					</tbody>
				</table>

			</div><!--  end .column  -->
		</div><!--  end .row  -->
	</div><!--  end .row  -->

	<script type="text/javascript" src="/public/javascripts/accounts.js"></script>
	<script>
		var table = '';

		for (var i = 0; i < retailerUsers.length; i++) {
			var userFullName = retailerUsers[i].forenames + ' ' + retailerUsers[i].surnames;
			
			table += '<tr>';
			table += '<td class="bold" style="position:relative;"><a class="users-link" data-user="' + retailerUsers[i].id + '" href="#">' + retailerUsers[i].forenames + ' ' + retailerUsers[i].surnames + '</a>';
			
			if (retailerUsers[i].passwordStatus === 'Locked') {
				table += '<span class="list-locked-marker">Locked</span>';	
			}
			
		   table += '</td>';
			table += '<td>' + retailerUsers[i].id + '</td>';
			table += '<td><div><a href="mailto:' + retailerUsers[i].emailAddress + '">' + retailerUsers[i].emailAddress + '</div></td>';
			table += '<td>' + retailerUsers[i].phoneNumber + '</div></td>';
			table += '</tr>';
		}

		$('#tableBody').html(table);

		$('.users-link').click(function(){		
			var id = $(this).attr("data-user");
			member.currentUser = getUser(id);
			go('/retailers/user-account');
		});

	</script>
	{% endblock %}