{% extends 'layout-fluid.html' %}
{% block head %} 
	{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row">
	
	{% include 'includes/manufacturer-header.html' %} 
	
	<div class="col-12">
		<ul class="tabs">
			<li class="tab"><a href="/manufacturers/retailers.html">Retailers</a></li>
			<li class="tab"><a href="/manufacturers/users.html">Manufacturers staff</a></li>
			<li class="tab active"><a href="/manufacturers/data/summary.html">Data</a></li>
			<li class="tab"><a href="/manufacturers/details.html">Details</a></li>
		</ul>
	</div> <!-- end .col-12 -->
	
	<div class="tab-content">
		<div class="col-9">
			<ul class="sub-tabs minus-margin-top-8" style="padding-left:0px; width:98%;">
				<li class="sub-tab active"><a href="/manufacturers/data/summary">Summary</a></li>
				<li class="sub-tab"><a href="/manufacturers/data/financial">Financial</a></li>
				<li class="sub-tab"><a href="/manufacturers/data/performance">Performance</a></li>
				<li class="sub-tab"><a href="/manufacturers/data/stock">Stock</a></li>
			</ul>
		</div> <!-- end .col-9 -->
		
		<div class="col-3">
			<div class="minus-margin-top-2">

				<form class="form">

					<div class="date-form-group">
						<label for="date-from" class="visuallyHidden">
							<div class="label-title date-input-label" >From:</div>
						</label>
						<input type="text" id="date-from" class="date-picker-input form-control" value="10/11/2017" />
					</div>

					<div class="divider"></div>

					<div class="date-form-group">
						<label for="date-from" class="visuallyHidden">
							<div class="label-title date-input-label">To:</div>
						</label>
						<input type="text" id="date-from" class="date-picker-input form-control" value="10/12/2017"/>
					</div>
					<button class="calendar-btn"></button>

				</form>
			</div>			
		</div> <!-- end .col-3 -->

		
		<div class="row">
			<div class="col-12">
				<h2 class="heading-large margin-top-3" style="font-weight:800;">Financial</h2>
			</div>
			
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Total amount owed</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold margin-bottom-1">&#163;20,650</p>
			</div>
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">First registration fees</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold">&#163;5,500</p>
			</div>
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Vehicle excise duty</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold">&#163;15,150</p>
			</div>
		</div>
		
		<div class="col-12">
			<div class="graph">
				<p style="padding-top:144px">Graph to go here</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<h2 class="heading-large margin-top-3" style="font-weight:800;">Performance</h2>
			</div>

			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Total registered vehicles</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold margin-bottom-1">120</p>
			</div>
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Least registered model</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold">Azure<span> (12)</span></p>
			</div>
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Most registered model</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold">Muslanne<span> (48)</span></p>
			</div>
		</div>

		<div class="col-12">
			<div class="graph">
				<p style="padding-top:144px">Graph to go here</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<h2 class="heading-large margin-top-3" style="font-weight:800;">Stock</h2>
			</div>

			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Total vehicles in stock</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold margin-bottom-1">100</p>
			</div>
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Unregistered vehicles</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold">95</p>
			</div>
			<div class="col-4 summary-highlight">
				<p class="summary-highlight-label heading-extra-small margin-top-1">Partially registrated vehicles</p>
				<p class="summary-highlight-value margin-top-0 heading-large bold">5</p>
			</div>
		</div>

		<div class="col-12">
			<div class="graph">
				<p style="padding-top:144px">Graph to go here</p>
			</div>
		</div>
		
	</div> <!-- end .tab-content -->
</div><!--  end .row  -->

<script type="text/javascript" src="/public/javascripts/accounts.js"></script>
{% endblock %}