
/* Filters */

.form-control-100 {
	width: 100%;
}

.filter-tag {
	font-size:16px; 
	background: #DEE0E2; 
	padding: 8px 4px 6px 9px; 
	width: 155px;
	margin-bottom: 6px;

}

.filter-tag img {
	padding-left: 10px;
	width: 12px; 
	height: 12px;

}

.tag-list{
	margin-top: 10px;
}

.filter-group {
	margin-bottom: 12px;

}

.filter-checkbox {
	margin:0px 6px 12px 0px;

}

.filter-checkbox-label {
	margin-top: 4px; 
	font-size: 16px;
}

.form-group-dividers {
	border-top: 1px solid #BBBDBF; 
	margin-bottom: 5px;
}

.border-bottom {
	border-bottom: 1px solid #bfc1c3;
}