.float-right {
	float: right;
}

.float-left {
	float: left;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.auto-width {
    width: auto;
}