{% block header_application_title %}
<a href="/index" title="Service home">RaV Helpdesk</a>
{% endblock %}
{% extends 'layout-fluid.html' %} 
{% block head %} 
{% include 'includes/head.html' %} 

{% endblock %} 
{% block content %}



<div class="row">

	{% include 'includes/accounts-header.html' %} 

	<div class="row">
		<div class="col-12">
			<ul class="tabs margin-bottom-3">

				<li class="tab"><a href="/account-lists/manufacturers-list.html">Manufacturers</a></li>
				<li class="tab active"><a href="/account-lists/retailers-list.html">Retailers</a></li>
				<!--
<li class="tab"><a href="/manufacturers/users.html">Users</a></li>
-->

			</ul>

			<table class="margin-top-2">
				<thead class="tableHead tableHead-manufacturers-list">
					<th>Retailers (2)</th>
					<th>Retailer Code</th>
					<th>Address</th>
					<th>Contact</th>
				</thead>
				<tbody id="tableBody">
				</tbody>
			</table>

		</div><!--  end .column  -->
	</div><!--  end .row  -->
</div><!--  end .row  -->

<script type="text/javascript" src="/public/javascripts/accounts.js"></script>
<script>
	var retailers = AFRL.retailers;
	var table = '';

	for (var i = 0; i < retailers.length; i++) {
		table += '<tr>';

		table += '<td class="bold"><a class="manufacturers-link" data-manufacturer="' + retailers[i].id + '" href="#">' + retailers[i].name + '</a></td>';

		table += '<td>' + retailers[i].retailerCode + '</td>';

		table += '<td><div class="truncate">' + retailers[i].address.line1 + ', ' + retailers[i].address.line2 + ', ' +  retailers[i].address.line3 + retailers[i].address.postCode + '</div></td>';

		table += '<td><a href="">' + retailers[i].contact.forenames + ' ' + retailers[i].contact.surnames + '</a></td>';

		table += '</tr>';
	}

	$('#tableBody').html(table);

	$('.manufacturers-link').click(function(){		
		var id = $(this).attr("data-manufacturer");
		member.currentRetailer = getRetailer(id);
		go('/retailer/details');

	});

	//		function navigate() {
	//			var value = manufacturers[i].name ;
	//			member.manufacturer = value;
	//			
	//		}


	// Manufacturers total count

	// $('input[name=vehicle]').change(function() {
	//     var total = 0;
	//     $('#question input:checked').each(function(i,e) {
	//         ++total;
	//     });
	//     $('#selected-vehicles').html(total);

	//     if (total === 1) {
	//         $('#selected-vehicles-plural').html('vehicle selected');
	//     } else {
	//         $('#selected-vehicles-plural').html('vehicles selected');
	//     }
	// });

</script>


{% endblock %}