{% extends 'layout-fixed.html' %}
{% block head %} 
	{% include 'includes/head.html' %}
{% endblock %}
{% block header_bar %}
{% endblock %}


{% block after_header %}
<div class="search-container">
<div class="container">
	<div class="row"> 
		
			<div class="col-1"></div>
			<div class="col-10 margin-top-6 margin-bottom-3">

				<form class="form">
					<div class="form-group no-bottom">
						
							<legend class="visuallyhidden">Search AFRL</legend>

							<h1 class="search-label">Search AFRL</h1>
							<label class="visuallyHidden">Search</label>
							<div style="width:770px;">
								<select id="search-prefix" class="form-control">
									<option value="Manufacturers">Manufacturers</option>
									<option value="Retailers">Retailers</option>
									<option value="Users">Users</option>
								</select>
								<input class="search-box form-control form-control-2-4" id="" name="" type="text" placeholder="Search by manufacturer name or supplier code">
								<button class="search-btn btn btn-primary"></button>
							</div>
						
					</div>  <!--  form-group  -->
				</form>


		</div> <!--  end .column  -->
	</div> <!--  end .row  -->
</div> <!--  end .container  -->
</div>
{% endblock %}
{% block content %}

<div class="row"> 
	<div class="col-1"></div>
	<div class="col-10 margin-top-3">
		
		<h2 class="heading-extra-small margin-bottom-1 border-bottom-grey">AFRL web functions</h2>
		
		<a href="account-creation/account-type.html" class="btn btn-primary afrl-btn">Create an account</a>
		<a href="#" class="btn btn-primary afrl-btn">Retrospective registrations</a>
		<a href="manufacturers-list.html" class="btn btn-primary afrl-btn" >View manufacturers</a>
			
	</div> <!--  end .column  -->
</div> <!--  end .row  -->


<script type="text/javascript">
	$(".btn ").click(function(){
		// Enter function name here
		validate();
	});
	 
//	function validate() {
//		var validInput = true;
//		var userID = $('input[name=userID]').val();
//		var passWord = $('input[name=passWord]').val();
//		
//		$('.userID.error-message').hide();
//		$('#quserID').removeClass('error');
//		$('.passWord.error-message').hide();
//		$('#qpassWord').removeClass('error');
//
//		
//		if ((userID == '') || (userID == undefined)) {
//			$('#quserID').addClass('error');
//			$('.userID.error-message').show();
//			$('.error-summary').show();
//			$('body').scrollTop(0);
//			validInput = false;
//		} 
//
//		
//		if ((passWord == '') || (passWord == undefined)) {
//			$('#qpassWord').addClass('error');
//			$('.passWord.error-message').show()
//			$('.error-summary').show();
//			$('body').scrollTop(0);
//			validInput = false;
//		}
//
//		if (validInput) {
//			go('/afrl-home');
//		} 
//	}
	

</script>
{% endblock %}


