{% extends 'layout-fixed.html' %}

{% block head %}
    {% include 'includes/head.html' %}
{% endblock %}

{% block global_header_bar %}
{% endblock %}

{% block content %}

<div class="row"> 
<!--	<div class="col-1"></div>-->
	<div class="col-12 margin-top-3">
		
		<h2 class="heading-extra-small margin-bottom-1 border-bottom-grey">RaV helpdesk</h2>
		
		<div class="row">
			<div class="col-4">
				<a href="account-creation/account-type.html" class="btn btn-primary afrl-btn">Create an account</a>
			</div>
			<div class="col-4">
				<a href="data-enquiry/data-list.html" class="btn btn-primary afrl-btn">Data enquiry</a>
			</div>
			<div class="col-4">
				<a href="account-lists/manufacturers-list.html" class="btn btn-primary afrl-btn">View accounts</a>
			</div>
		</div>
	</div> <!--  end .column  -->
</div> <!--  end .row  -->

<script type="text/javascript">
	$(".btn ").click(function(){
		// Enter function name here
		validate();
	});
	 
	if (member.questions === undefined) {
		member.questions = {};
	}	

</script>
{% endblock %}


