{% extends 'layout-fluid.html' %} 
{% block head %} 
	{% include 'includes/head.html' %} 

{% endblock %} 
{% block content %}


<div class="row">
	<div class="col-12">
		<div class="breadcrumbs margin-bottom-7">
			<ol>
				<li class="home-icon"><a href="/">AFRL Home</a></li>
				<li>Manufacturers</li>
			</ol>
		</div>

		<div class="page-context  margin-bottom-6">
			<h1 class="headin-large margin-bottom-2 margin-top-0">Manufacturers</h1>
			<div class="actions margin-top-1">
				<button class="btn btn-secondary"><span class="retro-registration-btn"></span>Retrospective registrations</button>
				<button class="btn btn-secondary"><span class="add-manufacturer-btn"></span>Add a new manufacturer</button>
			</div>

		</div>
	</div><!--  end .column  -->

	<div class="row">
		<div class="col-12">
			<table>
				<thead class="tableHead">
					<th>Manufacturer's (2)</th>
					<th>Code</th>
					<th>Address</th>
					<th>Postcode</th>
					<th><abbr title="Number" style="text-decoration:none;">No.</abbr> of retailers</th>
				</thead>
				<tbody id="tableBody">
				</tbody>
			</table>

		</div><!--  end .column  -->
	</div><!--  end .row  -->
</div><!--  end .row  -->

	<script>
		var manufacturers = AFRL.manufacturers;
		
		var manufacturerName1 = AFRL.manufacturers[0].name;
		var manufacturerName2 = AFRL.manufacturers[1].name;

		var table = '';

		for (var i = 0; i < manufacturers.length; i++) {
			table += '<tr>';
			table += '<td class="bold"><a href="/manufacturers/overview?name=' + manufacturers[i].name + '">' + manufacturers[i].name + '</a></td>';
			table += '<td>' + manufacturers[i].id + '</td>';
			table += '<td><div class="truncate">' + manufacturers[i].address1 + ', ' + manufacturers[i].address2 + ', ' +  manufacturers[i].address3 + '</div></td>';
			table += '<td>' + manufacturers[i].postCode + '</div></td>';
			table += '<td><a href="">' + manufacturers[i].contact.forenames + ' ' + manufacturers[i].contact.surnames + '</a></td>';
			table += '</tr>';
		}

		$('#tableBody').html(table);
		
		
		// Manufacturers total count
		
		// $('input[name=vehicle]').change(function() {
		//     var total = 0;
		//     $('#question input:checked').each(function(i,e) {
		//         ++total;
		//     });
		//     $('#selected-vehicles').html(total);

		//     if (total === 1) {
		//         $('#selected-vehicles-plural').html('vehicle selected');
		//     } else {
		//         $('#selected-vehicles-plural').html('vehicles selected');
		//     }
		// });
		
	</script>


	{% endblock %}