{% extends 'layout-fluid.html' %}
{% block head %} 
{% include 'includes/head.html' %}
{% endblock %}
{% block content %}
<div class="row">

	{% include 'includes/manufacturer-header.html' %} 

	<div class="col-12">
		<ul class="tabs">
			<li class="tab active"><a href="/manufacturers/retailers.html">Retailers</a></li>
			<li class="tab"><a href="/manufacturers/users.html">Manufacturers staff</a></li>
			<li class="tab"><a href="/manufacturers/data/summary.html">Data</a></li>
			<li class="tab"><a href="/manufacturers/details.html">Details</a></li>
		</ul>
	</div> <!-- end .col-12 -->

	<div class="tab-content">

	
		<div class="row">
			<div class="col-12">
				<table>
					<thead class="tableHead tableHead-retailers">
						<th>Retailers (2)</th>
						<th>MVRIS</th>
						<th>ID</th>
						<th>Address</th>
						<th>Postcode</th>
						<th>Contact</th>
					</thead>
					<tbody id="tableBody">
					</tbody>
				</table>

			</div><!--  end .column  -->
		</div><!--  end .row  -->
	</div><!--  end .row  -->

	<script type="text/javascript" src="/public/javascripts/accounts.js"></script>
	<script>
		var table = '';

		for (var i = 0; i < retailers.length; i++) {
			table += '<tr>';
			table += '<td class="bold"><a class="retailers-link" data-retailer="' + retailers[i].id + '" href="#">' + retailers[i].name + '</a></td>';
			table += '<td>' + retailers[i].MVRIS + '</td>';
			table += '<td>' + retailers[i].id + '</td>';
			table += '<td><div class="truncate">' + retailers[i].address1 + ', ' + retailers[i].address2 + ', ' +  retailers[i].address3 + '</div></td>';
			table += '<td>' + retailers[i].postCode + '</div></td>';
			table += '<td><a href="">' + retailers[i].contact.forenames + ' ' + retailers[i].contact.surnames + '</a></td>';
			table += '</tr>';
		}

		$('#tableBody').html(table);

		$('.retailers-link').click(function(){		
			var id = $(this).attr("data-retailer");
			debugger;
			member.currentRetailer = getRetailer(id);
			go('/retailers/users');
			
			//navigate(); 
		});
	
</script>
{% endblock %}